body {
    background-color: #000000;
    padding: 0;
}

h1 {
    color: #ffffff;
    font-family: arial;
    font-size: 55px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.01em;
}

p {
    color: #ffffff;
    font-family: arial;
    font-size: 13px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 7%;
    line-height: 1.5;
    font-family: 'Roboto Condensed', sans-serif;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.wrapper {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
}

.carousel-container {
    height: 282px;
    overflow: hidden;
    position: relative;
    /* width: 375px; */
    /* width: 360px; */
}

.carousel-slide {
    display: inline-block;
}

.prevBtn {
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 10px;
    height: 15%;
    /* margin-left: 45%; */
    margin-bottom: 10px;
    opacity: 0.9;
    width: 10%;
}

button:hover {
    background-color: #fff2c5;
}

.nextBtn {
    z-index: 10;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-size: 10px;
    height: 10%;
    /* margin-left: 45%; */
    margin-top: 10px;
    opacity: 0.9;
    width: 10%;
}


/* reset the row padding */

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

@media (min-width: 768px) {
    .container {
        max-width: 920px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 360px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 360px;
    }
}

.content-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

.highlight.active {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 8px solid #c57373;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    /* height: 297px; */
    top: 42px;
    z-index: 10;
}

.fa-arrow-up:before,
.fa-arrow-down:before {
    margin-left: -3px;
}